@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

body {
  background: #efd4f8;
  color: rgb(27, 111, 247);
  font-family: "Play";
  display: flex;
  align-items: center;
  margin-top: 15px;
  font-size: 30px;
  height: 90vh;
  text-shadow: 1px 1px 2px black;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}

.btn {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px rgb(60, 1, 90) solid;
  color: rgb(60, 1, 90);
  font-size: 16px;
  font-weight: 600;
  box-shadow: 1px 1px 2px black;
}

.btn:hover {
  transform: translate(-2px, -2px);
  box-shadow: 0 5px 15px rgba(46, 144, 205, 0.639);
}

.disabled {
  opacity: .5;
}
